/*
!ex00
!ex01
!ex02
!.gitignore

ex00/*
!ex00/Makefile
!ex00/megaphone.cpp

ex01/*
!ex01/inputs.txt
!ex01/Makefile
!ex01/include/Contact.hpp
!ex01/include/PhoneBook.hpp
!ex01/src/Contact.cpp
!ex01/src/PhoneBook.cpp